.low {
	display: inline-block;
	width: 30%;
	border-radius: 15px;
	color: white;
	background-color: #70737a;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.medium {
	display: inline-block;
	width: 30%;
	border-radius: 15px;
	color: white;
	background-color: #0f76ee;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.high {
	display: inline-block;
	width: 30%;
	border-radius: 15px;
	color: white;
	background-color: #d43948;
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.check-box {
	margin-top: 1rem;
}
.done {
	font-weight: 700;
	color: green;
}
.not-done {
	font-weight: 700;
	color: red;
}
